*,
*::before,
*::after {
    box-sizing: border-box;
}
.user-name {
    color: #fff; /* Ustaw kolor tekstu na biały */
    font-weight: bold; /* Pogrubiony tekst */
    margin-right: 20px; /* Odstęp z prawej strony */
    font-size: 1.5em; /* Zwiększ rozmiar czcionki (możesz dostosować tę wartość) */
}


.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}

.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;

}

.home {
    position: relative;
    width: 100vw; /* Pełna szerokość okna przeglądarki */
    height: 100vh; /* Pełna wysokość okna przeglądarki */
    overflow: hidden; /* Ukrywanie elementów poza ekranem */
    background: url(./images/HomeBackground.jpg); /* Zaktualizuj nazwę pliku, jeśli jest inna */
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ustawienie na lewą stronę */
    padding: 20px; /* Dodanie paddingu, aby uniknąć przylegania do krawędzi */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
    z-index: 2; /* Ustawienie na warstwę powyżej pseudo-elementu */
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; /* Pełna szerokość okna przeglądarki */
    height: 100vh; /* Pełna wysokość okna przeglądarki */
    background-color: rgba(0, 0, 0, 0.35); /* Czarne tło z przezroczystością */
    z-index: 1; /* Ustawienie na warstwę pod formularzem */
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header .logo {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
}

.nav a,
.button-app.is-lighty.logout-button {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
}

.nav a::after,
.button-app.is-lighty.logout-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}


.button-app {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 14px 10px; /* Zwiększono górny margines do 40px */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-decoration: none; /* Dodaj ten wiersz, aby usunąć podkreślenie */
    background-color: rgba(255, 255, 255, 0.2);
}

.button-app:hover {
    background-color: #009688; /* Kolor tła po najechaniu */
    color: #fff; /* Zmiana koloru tekstu po najechaniu */
}

/* Dodatkowe style dla przycisku */
.is-lighty {
    background-color: rgba(255, 255, 255, 0.2); /* Kolor tła dla efektu */
}

.margin {
    margin-top: 66px; /* Ustal odpowiednią wartość marginesu */
    text-align: center; /* Wyśrodkowanie przycisków */
}
.button-panel {
    width: 100%; /* Ustaw szerokość na 100% */
    padding: 20px; /* Zwiększono padding wewnętrzny */
    text-align: center;
    margin: 20px; /* Ustal margines dolny, aby oddzielić od tekstu */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
}



.button-panel:hover {
    background-color: #009688; /* Kolor tła po najechaniu */
    color: #fff; /* Zmiana koloru tekstu po najechaniu */
}
.button-login {
    width: 100%; /* Ustaw szerokość na 100% */
    padding: 30px 100px; /* Zwiększono padding wewnętrzny */
    text-align: center;
    margin: 20px; /* Ustal margines dolny, aby oddzielić od tekstu */
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.2);
}



.button-login:hover {
    background-color: #009688; /* Kolor tła po najechaniu */
    color: #fff; /* Zmiana koloru tekstu po najechaniu */
}