.price-dis {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgba(255, 255, 255, 0.2); /* Przezroczyste tło */
    color: #000; /* Czarny tekst */
    font-size: 18px;
    border: 2px solid #000; /* Czarna ramka */
    border-radius: 8px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
  }
  
  .price-dis:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.3); /* Lekko zwiększona przezroczystość po najechaniu */
  }
  .price-display {
    display: inline-block;
    padding: 12px 24px;
    background-color: rgba(255, 255, 255, 0.2); /* Przezroczyste tło */
    color: #000; /* Czarny tekst */
    font-size: 18px;
    border: 2px solid #000; /* Czarna ramka */
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
  }
  
  .price-display:hover {
    transform: scale(1.05);
    background-color: rgba(255, 255, 255, 0.3); /* Lekko zwiększona przezroczystość po najechaniu */
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .user-name {
    color: #fff; /* Ustaw kolor tekstu na biały */
    font-weight: bold; /* Pogrubiony tekst */
    margin-right: 20px; /* Odstęp z prawej strony */
    font-size: 1.5em; /* Zwiększ rozmiar czcionki (możesz dostosować tę wartość) */
}

  .home {
    position: relative;
    width: 100vw; /* Pełna szerokość okna przeglądarki */
    height: 100vh; /* Pełna wysokość okna przeglądarki */
    background: url(./images/prediction.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Ustawienie na lewą stronę */
    padding: 20px; /* Dodanie paddingu, aby uniknąć przylegania do krawędzi */
  }
  
  .form-panel {
    background-color: #fff; /* Białe tło dla formularza */
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); /* Przezroczyste białe tło */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
    padding: 30px; /* Zwiększenie paddingu, aby formularz miał więcej przestrzeni wewnętrznej */
    width: 600px; /* Zwiększenie szerokości formularza */
    /* Możesz dostosować wysokość formularza, jeśli to potrzebne */
    /* height: 600px; Zostawienie domyślnej wysokości, jeśli nie chcesz jej zmieniać */
    margin-left: 10%; /* Margines od lewej strony */
  }
  
  .buttons {
    display: flex;
    justify-content: space-between; /* Rozmieszcza elementy na przeciwległych końcach */
    width: 100%; /* Pełna szerokość kontenera */
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .form-group input,
  .form-group select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group input[type="range"] {
    width: calc(100% - 30px);
    margin-right: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-secondary {
    background-color: #6c757d;
    color: #fff;
  }
  
  
  .alert-success {
    background-color: rgba(212, 237, 218, 0.4); /* zielone z przezroczystością 70% */
    color: #155724;
    border: 1px solid rgba(195, 230, 203, 0.7); /* przezroczystość 70% */
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  .alert-danger {
    background-color: rgba(248, 215, 218, 0.4); /* czerwone z przezroczystością 70% */
    color: #721c24;
    border: 1px solid rgba(245, 198, 203, 0.7); /* przezroczystość 70% */
    padding: 15px;
    border-radius: 4px;
    margin-top: 10px;
  }
  
  
  .mt-3 {
    margin-top: 1rem;
  }
  
  .button-app.is-lighty.logout-button {
    position: relative;
    border: none;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    background: transparent; /* Tło przezroczyste, jeśli nie chcesz zmieniać koloru tła */
  }
  
  .button-app.is-lighty.logout-button::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  
  .button-app.is-lighty.logout-button:hover::after {
    transform: scaleX(1);
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
  }
  
  .header .logo {
    font-size: 1.7em;
    color: #fff;
    text-decoration: none;
  }
  
  .nav a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
  }
  
  .nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
  }
  
  .nav a:hover::after {
    transform: scaleX(1);
  }